@using Application.Features.CoursesCategory.Models
@model CourseCategoryDTO
@{
    Layout = "_Layout";
    var TableName = "CourseCategory";
   
    if (Model.Id > 0)
    {
    ViewData["Title"] = "Edit " +TableName + ":" + @Model.NameA;
        <h1>@ViewData["Title"]</h1>
    } 
    
   
  else
  {
        ViewData["Title"] = "Add " + TableName;
        <h1>@ViewData["Title"]</h1>

  }
}

   

<form asp-action="Form" method="post"  enctype="multipart/form-data">
   
      

          
    <input type="hidden" asp-for="Id" />
    <div class="form-group col-md-6">
        الاسم
        <input asp-for="NameA"/>
        <span asp-validation-for="NameA"></span>
    </div>

       <div class="form-group col-md-6">
        Name
        <input asp-for="NameE"/>
        <span asp-validation-for="NameE"></span>
    </div>

    <input type="submit" class="btn btn-primary btn-main-bg m-1" placeholder="حفظ"/>
    <a href="@Url.ActionLink("index")" aria-expanded="false" class=" btn btn-primary bg-primary-700 text-white btn-icon rounded-circle mx-1 waves-effect waves-themed" style="font-size:large"><i class="fa fa-edit " data-toggle="tooltip" data-placement="top">اضافه</i></a>

</form>