@using Application.Features.Country.Models
@model CountryDTO
@{
    Layout = "_Layout";
    var TableName = "Country";
    if (Model.Id != 0)
  {
    ViewData["Title"] = "Edit " +TableName + ":" + @Model.Name;
  }
  else
  {
        ViewData["Title"] = "Add " + TableName;
  }
}

    <div asp-validation-summary="All"></div>

<form asp-action="Form" method="post"   enctype="multipart/form-data">
  <input type="hidden" asp-for="Id" />

    <div class="form-group col-md-6">
        Name
        <input asp-for="Name"/>
        <span asp-validation-for="Name"></span>
    </div>
  
</form>

